html,
body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #28304e;
  min-width: 480px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;
  height: 90%;
}

.left-logo {
  font-weight: 900;
  font-family: "Pacifico", cursive;
  font-size: 20px;
  text-transform: uppercase;
}

.login-form-header {
  display: flex;
  justify-content: space-between;
}

.form-title {
  display: flex;
  justify-content: space-between;
}

.login-title {
  font-size: 36px;
  font-weight: bold;
}

.register-link {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 12px;
}

.register-link a {
  color: #28304e;
}

.register-link span {
  font-weight: bold;
}

.login-form-content {
  margin: 40px 0 0 0;
}

.form-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.forgot {
  text-transform: lowercase;
  font-weight: 600;
}

.email {
}

.password {
  margin: 30px 0 0 0;
}

.form-input input {
  outline: none;
  width: calc(100% - 32px);
  padding: 15px;
  margin: 7px 0 0 0;
  border: 1px solid #28304e;
  border-radius: 4px;
}

.login {
  margin: 30px 0 0 0;
}

.login button {
  width: 100%;
  height: 50px;
  background-color: #28304e;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.left-footer {
  font-size: 14px;
}

.left-footer a {
  font-weight: bold;
  color: #28304e;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1609269310346-e03f6800ca12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("https://images.unsplash.com/photo-1609269310346-e03f6800ca12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
}

.right-content {
  width: 480px;
  color: white;
}

.right-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.right-description {
  font-size: 24px;
  line-height: 36px;
  margin: 40px 0 0 0;
}

.right-footer {
  font-weight: bold;
  font-size: 24px;
  margin: 40px 0 0 0;
}

.right-footer a {
  color: white;
}

@media screen and (max-width: 1024px) {
  #root {
    grid-template-columns: 1fr;
  }
  .right-side {
    display: none;
  }
}
