html,
body {
  margin: 0;
  height: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left-content {
  border: 1px solid blueviolet;
  width: 480px;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.right-content {
  border: 1px solid pink;
  width: 480px;
}
